.errorColor{

color: #FF0000;
padding: 4px;
text-align: center;

}
.signupform{
text-align: center;
font-size: 8px;
}


.boxForNews {
    background-color: beige;
-moz-box-shadow: 4px 4px 5px #000000;
-webkit-box-shadow: 4px 4px 5px #000000;
box-shadow: 4px 4px 5px #000000;
padding: 4px;
 margin-top: 18px;
}



.newsImg{
height: 100px;
}


.descriptioFont{
font-size: 20px;

}
