.commentBox {
    background-color: #5F9EA0;
-moz-box-shadow: 4px 4px 5px #000000;
-webkit-box-shadow: 4px 4px 5px #000000;
box-shadow: 4px 4px 5px #000000;
padding: 4px;
 margin-top: 18px;
  margin-right: 10px;
  margin-left: 10px;
   font-size: 12px;
}
