.errorColor{

color: #FF0000;
padding: 4px;
text-align: center;

}
.signupform{
text-align: center;
font-size: 8px;
}


.boxForNews {
    background-color: beige;
-moz-box-shadow: 4px 4px 5px #000000;
-webkit-box-shadow: 4px 4px 5px #000000;
box-shadow: 4px 4px 5px #000000;
padding: 4px;
 margin-top: 18px;
  margin-right: 10px;
  margin-left: 10px;
}



.newsImg{
height: 150px;
float: left;
}


.descriptioFont{
font-size: 18px;

}
.NewsTitleFont{
font-size: 22px;
}


