<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="/static/navcss1.css">
{% block head %}

{% endblock%}

</head>
<body>



<div class="topnav" >
    <a class="active BorderG" href="{% url 'home' %}">NewsBee</a>

  {% if request.user.is_authenticated %}
  <a class="BorderG" href="{% url 'news' %}"> News</a>
  <a class="BorderG" href="{% url 'newsBee' %}">Bee News</a>
  <a class="BorderG" href="{% url 'myCollection' %}">My Collection</a>	



    <a class="BorderG" href="JavaScript:{document.getElementById('logout').submit()}" onclick="">Log Out</a>


    <form id="logout" method="POST" action="{% url 'signout' %}">
        {% csrf_token %}
        <input type="hidden">
    </form>

  {% else %}
  <a class="BorderG" href="{% url 'signup' %}">Sign Up</a>
  <a class="BorderG" href="{% url 'signin' %}">Sign In</a>
  {% endif %}
</div>

















{% block one %}

{% endblock%}

<script src="static/script.js"> </script>
</body>
</html>