{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/styleReg.css">
<link rel="stylesheet" type="text/css" href="/static/msg.css">
<link rel="stylesheet" type="text/css" href="/static/textarea.css">
<link rel="stylesheet" type="text/css" href="/static/comment.css">

{% endblock%}


{% block one %}



<div class="msgColor">
<form action="" method="post">
    {% csrf_token %}
    <p class="msgColor">Are you sure you want to delete this news?</p>
    <input class="errorColor" type="submit" value="Confirm" />
</form>

</div>



{% endblock%}
