{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/styleReg.css">

<link rel="stylesheet" type="text/css" href="/static/textarea.css">
{% endblock%}


{% block one %}

<form  method="post" action="{% url 'share' %}" >
        {% csrf_token %}
    <p>Write Something..</p>
        <textarea name="comment" class="textArea" ></textarea>

          <input type="hidden" name="img" value={{i.image}} >

          <input type="hidden" name="title" value={{i.title}} >
        <input type="hidden" name="author" value={{i.author}} >
        <input type="hidden" name="des" value={{i.description}} >
          <input type="hidden" name="cat" value={{i.category}} >
          <input type="hidden" name="date" value={{i.published_at}} >
          <input type="hidden" name="url" value={{i.url}} >



        <input type="submit" value="Share">
        </form>


{% endblock%}