{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/styleReg.css">

<link rel="stylesheet" type="text/css" href="/static/textarea.css">
<link rel="stylesheet" type="text/css" href="/static/msg.css">
{% endblock%}


{% block one %}
<p class="msgColor">Want to save this News to your collection? </p>
<div class="boxForNews" >

       <form  method="post" action="{% url 'myCollection' %}" >
        {% csrf_token %}
        <p>Write Something..:</p><br>
        <textarea name="comment" class="textArea"  rows="5" cols="50"></textarea>

          <input type="hidden" name="img" value="{{img}}" >

          <input type="hidden" name="title" value="{{title}}" >
        <input type="hidden" name="author" value="{{author}}" >
        <input type="hidden" name="des" value="{{des}}" >
          <input type="hidden" name="cat" value="{{cat}}" >
          <input type="hidden" name="date" value="{{date}}" >
          <input type="hidden" name="url" value="{{url}}" >
           <input type="hidden" name="country" value="{{country}}" >



        <input type="submit" value="Share">
        </form>

<br>


        {% if img %}
        <img style="height: 140px; float: left;" src="{{img}}">
        {% endif %}

        {% if date %}
        <p><strong>Date:</strong>{{date}}</p>
        {% endif %}
        {% if title %}
        <p class="NewsTitleFont" ><strong>Title:</strong>{{title}}</p>
        {% endif %}
        {% if des %}
        <p class="descriptioFont"> {{des}} <a href="{{i.url}}" target="_blank">More..</a></p>
        {% endif %}
        {% if auth %}
        <p><strong>Author:</strong>{{author}}</p>
        {% endif %}
        {% if cat %}
        <p><strong>Category:</strong>{{cat}}</p>
        {% endif %}

    </div>

{% endblock%}