{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="static/styleReg.css">

{% endblock%}


{% block one %}
<div class="signupform boxForNews" >
<form  method="post">
    {% csrf_token %}
{% if error %}
<p class="errorColor"> {{error}} </p>
{% endif %}

        <p>User Name:</p>
        <input type="text" name="username" placeholder="Username" required><br>
        <p>Password:</p>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <input type="submit" value="Login"> <p>Don't have an account?<a href="{% url 'signin' %}">Sign UP</a></p>


</form>
</div>
{% endblock%}