{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head %}

<link rel="stylesheet" type="text/css" href="static/styleReg.css">
<link rel="stylesheet" type="text/css" href="static/fontsizingLogin.css">
{% endblock%}


{% block one %}
<br>
<div class="signupform boxForNews refont" style="font-size: 16px;" >

<form  method="post">
    {% csrf_token %}
{% if error %}
<p class="errorColor"  > {{error}} </p>
{% endif %}
<br>

        {{form1|crispy}}<br>

        {{form2|crispy}}<br>
    <input class="refont" type="submit" value="Sign Up">


</form>
</div>
{% endblock%}